
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="cont-inner text-center rounded">

            <h2 class="section-heading mb-4">
              <span class="section-heading-upper ">Lançar Aula Avulsa</span>
            </h2>
            <%= form_tag(search_single_class_registrations_path, method: "get") do %>
                <%= label_tag(:q, "Pesquisar Aluno:") %>
                <%= text_field_tag(:q) %>
                <%= submit_tag("Buscar") %>
              <% end %> <br>
          <br>
          <table class="table">
              <thead>
                <tr>
                <th scope='col'>Nome</th>
                <th scope='col'>CPF</th>
                <th scope='col'>Ações</th>
              </tr>
              </thead>
              <tbody>
            <% @registrations.each do |registration| %>
              <tr>
                <th scope='row'><%=registration.name %></th>
                  <td><%=registration.cpf%></td>
                  <td><%= link_to 'Mostrar', registration_path(registration)%> <%= link_to 'Editar', edit_registration_path(registration)%></td>

              </tr>
            <% end %>
          </tbody>
            </table>

          <p class="mb-0"></p>
        </div>
      </div>
