<h2><%= @registration.name %></h2>
<p><%= @registration.cpf %></p>
<p><%= @registration.unity.name %></p>
<p><%= @registration.plan.name %></p>

<table class="table">
  <thead>
    <th>Pagamento</th>
    <th>Valor</th>
    <th>Data de vencimento</th>
    <th>Método de pagamento</th>
    <th>Status</th>
  </thead>
  <% @registration.payments.each do |payment| %>
    <tr id="payment-<%=payment.id%>">
      <td><%= "Pagamento #{payment.id}"%></td> 
      <td><%= payment.value %></td>
      <td><%= payment.dt_venc %></td>
      <td><%= payment.pay_method.name %></td>
      <td><%= payment.status %></td>
      <td><%= link_to 'Pagar', registration_payment_path(payment.id)%></td>
    </tr>
  <%end%>
</table
