<section class="page-section cta">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">

          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">Matrícula</span>
          </h2>
          <h4><%= @registration.name %></h4>
          <p>Cpf: <%= @registration.cpf %> - Unidade: <%= @registration.unity.name %> - Plano: <%= @registration.plan.name %></p>
          <table class="table">
            <thead>
              <th>Pagamento</th>
              <th>Valor</th>
              <th>Data de vencimento</th>
              <th>Método de pagamento</th>
              <th>Status</th>
            </thead>
            <% @registration.payments.each do |payment| %>
              <tr id="payment-<%=payment.id%>">
                <td><%= "Pagamento #{payment.id}"%></td>
                <td><%= payment.value %></td>
                <td><%= payment.dt_venc %></td>
                <td><%= payment.pay_method.name %></td>
                <td><%= payment.status %></td>
                <% if payment.status != 'paid'%>
                  <td id="payment-<%=payment.id%>"><%= link_to 'Pagar', new_payment_payment_transaction_path(payment.id)%></td>
                <% else %>
                   <td id="payment-<%=payment.id%>"><%= link_to 'Mostrar', payment_payment_transaction_path(payment.id)%></td>
                <%end%>
              </tr>
            <%end%>
          </table>
          <p class="mb-0"></p>
        </div>
      </div>
  
  </div>
</section>
