<h2><%= @registration.name %></h2>
<p><%= @registration.cpf %></p>
<p><%= @registration.unity.name %></p>
<p><%= @registration.plan.name %></p>
<p>Pagamento 1</p>
<p><%= @registration.payment.value %></p>