<div class="form-group" style="padding-top: 100px">
  <h4>Método de Pagamento:</h4>
    <%=form_for @pay_method do |f| %>
    <div class="form-group">
      <div  style="padding-top: 10px">
        <%= f.label :name %>
      </div>
      <div>
        <%= f.text_field :name %>
      </div>
      <div  style="padding-top: 10px">
        <%= f.label :tax %>
      </div>
      <div>
        <%= f.text_field :tax %>
      </div>
      <div  style="padding-top: 10px">
        <%= f.label :limit_days %>
      </div>
      <div>
        <%= f.text_field :limit_days %>
      </div>
      <div style="padding-top: 10px">
        <%= f.submit  %>
      </div>
    </div>
  <%end%>
</div>

<% if @pay_method.errors.any? %>
  <%  @pay_method.errors.full_messages.each do |msg| %>
    <div style="padding-top: 20px">
      <%= msg %>
    </div>
  <%end %>
<%end %>
