<section class="page-section cta">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper ">Método de Pagamento</span>
            </h2>
                <%=form_for @pay_method do |f| %>
                <div class="form-group">
                  <div  style="padding-top: 10px">
                    <%= f.label :name %>
                  </div>
                  <div>
                    <%= f.text_field :name %>
                  </div>
                  <div  style="padding-top: 10px">
                    <%= f.label :tax %>
                  </div>
                  <div>
                    <%= f.text_field :tax %>
                  </div>
                  <div  style="padding-top: 10px">
                    <%= f.label :limit_days %>
                  </div>
                  <div>
                    <%= f.text_field :limit_days %>
                  </div>
                  <div style="padding-top: 20px">
                    <%= f.submit "Enviar", class: "btn btn-primary btn-xl2"  %>
                  </div>
                </div>
              <%end%>

              <% if @pay_method.errors.any? %>
                <%  @pay_method.errors.full_messages.each do |msg| %>
                  <div style="padding-top: 20px">
                    <%= msg %>
                  </div>
                <%end %>
              <%end %>
          </div>
          <p class="mb-0"></p>
        </div>
      </div>
    </div>
  </div>
</section>
