Valor: <%= @payment.value %>
<p>Método de pagamento: <%= @payment.pay_method.name %></p>
<p>Status: <%= @payment.status %>
<p>Código da transação: <%= @transaction.code %>
<p>Data de vencimento: <%= @payment.dt_venc %>
<p>Data do pagamento: <%= @transaction.date_payment %>
<p>Valor pago: <%= @transaction.value%>

