<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <%= image_tag ('account.jpg'), class: "intro-img img-fluid mb-3 mb-lg-0 rounded"%>
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h6 class="section-heading mb-4">
            <span class="section-heading-upper">Entrar</span>
          </h6 >
          <div class="field">
            <h3 class="section-label mb-4 text-left">
              <%= f.label :email,"Email", class: "section-heading-upper"%>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email" %>
            </h3>
          </div>
          <div class="field">
            <h3 class="section-label mb-4 text-left">
              <%= f.label :password,"Senha", class: "section-label" %><br />

              <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "**********"%>
            </h3>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %><br />
              <%= render "devise/shared/links" %>
            </div>
          <% end %>

          <div class="intro-button mx-auto">
            <%= f.submit "Log in", class: "btn btn-primary btn-xl"  %>
          </div>
        </div>
      </div>
    </div>
  </section>
<% end %>
